
.container--main-countryDetail {
    display: block;
    min-height: 100vh;
    .container--card-detailCountry {
        display: block;
        .link-back {
            display: inline-block;
            margin: 60px;
            text-decoration: none;
            padding: 10px 40px;
            font-size: 20px;
            border-radius: 6px;
        }
        .card--detailCountry {
            display: flex;
            justify-content: center;
            margin-left: 60px;
            margin-right: 60px;
            max-width: 100%;
            flex-direction: column;
            .card--detailCountry-img {
                object-fit: cover;
                width: 100%;
                height: 250px;
                margin-bottom: 50px;
            }
            .card--detailCountry-descriptions {
                display: flex;
                flex-direction: column;
                .detailCountry-description {
                    font-weight: 600;
                    .detailCountry--description-span {
                        font-weight: 300;
                    }
                }
            }
            .card--detailCountry-borders {
                font-weight: 600;
            }
            .borders--container-links {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                padding-bottom: 50px;
                .border-links {
                    font-size: 20px;
                    padding: 5px 20px;
                    border-radius: 6px;
                    margin: 10px;
                    text-decoration: none;
                }
            }
        }
        // Media querie tablet
        @media screen and (min-width: 768px) {
            .card--detailCountry { 
                flex-direction: row;
                justify-content: space-between;
                .card--detailCountry-img {
                    width: 50%;
                    margin-right: 60px;
                }
                // Media querie Computer
                @media screen and (min-width: 1024px) {
                    .card--detailCountry-img {
                        height: 50vh;
                    }
                    .container--card-description {
                        width: 50%;
                        margin-left: 60px;
                        .card--detailCountry-descriptions {
                            flex-direction: row;
                            width: 100%;
                            justify-content: space-between;
                            .detailCountry-description {
                                margin-right: 60px;
                            }
                        }
                    }        
                }
            }
        }
    }
}